.CellContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5vh;
}

.CellRow {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin: 0px;
    padding: 0px;
}