.cell {
    width: 20px;
    height: 20px;
    background-color: rgb(220, 220, 220);
    outline: black solid 1px;
    -webkit-user-drag: none;
}

.cell:hover {
    filter: brightness(80%);
}

.wall {
    background-color: black;
}

.start-cell {
    background-color: yellow;
}

.end-cell {
    background-color: coral;
}

.cell-checked {
    background-color: rgb(220, 255, 220)
}

.shortest-path-cell {
    background-color: lime;
}