.cell {
    width: 3vh;
    height: 3vh;
    background-color: rgb(220, 220, 220);
    outline: black solid 1px;
    -webkit-user-drag: none;
}

.cell:hover {
    filter: brightness(80%);
}

.wall {
    background-color: black;
}

.cell-checked {
    background-color: rgb(120, 120, 120);
}

.current-best-cell {
    background-color: rgb(100, 150, 100);
}


.shortest-path-cell {
    background-color: lime;
}

.start-cell {
    background-color: yellow;
}

.end-cell {
    background-color: coral;
}