#Select-Algorithm-Form {
    display: flex;
    flex-direction: column;
}

#Control-Panel-Wrapper {
    width: 150px;
}

.dimension-wrapper {
    display: flex;
    flex-direction: row;
}

.dimension-button {
    width: 20px;
}