* {
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.cell-row {
    display: flex;
    flex-direction: row;
}

#Cell-Grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Main-Container {
    display: flex;
}

#Control-Panel-Wrapper {
    width: 100px;
}