* {
    margin: 0px;
    padding: 10px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    
}

#main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}