.CellContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    width: 80vh;
    margin: auto;
}

.CellRow {
    display: flex;
    justify-content: center;
    height: 20%;
    margin: 0px;
    padding: 0px;
}