.Cell {
    background-color: rgb(217, 217, 217);
    width: 20%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    outline: 1px solid black;
}

.Cell:hover {
    background-color: rgb(242, 255, 0);
}

.CellChecked {
    background-color: rgb(96, 96, 96);
}